html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    cursor: default;
}

body {
    font: 1rem/1.32 'Mulish', 'Times New Roman', sans-serif;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

ul {
    list-style-type: none;
    padding: 0;
}

.container {
    max-width: 1173px;
    margin: 0 auto;
}

.title {
    font-size: 28px;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 32px;
}
@media screen and (min-width: 992px) {
    .title {
        margin-top: 150px;
        margin-bottom: 42px;
        font-size: 54px;
    }
}

.header {
    background-image: url('../../media/wall.png');
    background-size: cover;
    overflow: hidden;
    padding: 0 5%;
}
.header-logo {
    display: flex;
    justify-content: center;
    margin: 30px 0 40px;
    width: 100%;
}
@media screen and (min-width: 992px) {
    .header-logo {
        margin: 50px 0 60px 50px;
        justify-content: left;
    }
}
.header-logo img {
    width: 100px;
}
@media screen and (min-width: 480px) {
    .header-logo img {
        width: 120px;
    }
}
@media screen and (min-width: 992px) {
    .header-logo img {
        width: 150px;
    }
}
.header-title {
    font-size: 30px;
    text-align: left;
    margin: 0;
    color: white;
}
@media screen and (min-width: 480px) {
    .header-title {
        font-size: 40px;
    }
}
@media screen and (min-width: 768px) {
    .header-title {
        font-size: 52px;
    }
}
@media screen and (min-width: 992px) {
    .header-title {
        font-size: 64px;
    }
}
.glow-text {
    background: linear-gradient(92.39deg, #8f00ff 31.24%, #c77eff 86.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.header-info {
    text-align: left;
    color: white;
    max-width: 400px;
    font-size: 16px;
    margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
    .header-info {
        margin-bottom: 100px;
        max-width: 500px;
        font-size: 22px;
    }
}
@media screen and (min-width: 992px) {
    .header-info {
        margin-bottom: 100px;
        font-size: 26px;
    }
}
.header-list {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}
@media screen and (min-width: 992px) {
    .header-list {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.header-list-item {
    max-width: 500px;
    margin-bottom: 30px;
}
@media screen and (max-width: 991px) {
    .header-list-item {
        min-width: 600px;
    }
}
@media screen and (max-width: 678px) {
    .header-list-item {
        min-width: auto;
    }
}
@media screen and (min-width: 768px) {
    .header-list-item {
        margin-bottom: 46px;
    }
}
@media screen and (min-width: 992px) {
    .header-list-item {
        position: relative;
        margin-inline: 12px;
        max-width: 500px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 1172px) {
    .header-list-item {
        max-width: 400px;
    }
}
@media screen and (min-width: 1302px) {
    .header-list-item {
        position: relative;
        margin-inline: 26px;
        max-width: 240px;
    }
}
.header-list-item-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.header-list-item h4 {
    font-size: 16px;
    margin: 0;
}
@media screen and (min-width: 768px) {
    .header-list-item h4 {
        font-size: 24px;
    }
}
@media screen and (min-width: 992px) {
    .header-list-item h4 {
        font-size: 22px;
    }
}
.header-list-item p {
    font-size: 14px;
}
@media screen and (min-width: 768px) {
    .header-list-item p {
        font-size: 18px;
    }
}
.header-list-item img {
    margin-right: 9.5px;
    width: 21px;
}
@media screen and (min-width: 992px) {
    .header-list-item img {
        position: absolute;
        top: 3px;
        left: -30px;
        width: 24px;
    }
}
.header-bottom {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 4em;
}
@media screen and (min-width: 768px) {
    .header-bottom {
        margin-top: 50px;
    }
}
.header-bottom a {
    text-decoration: none;
}
.header-bottom-btn {
    background-image: linear-gradient(92.39deg, #8f00ff 31.24%, #c77eff 86.36%);
    border-radius: 25px;
    padding: 1em 2.5em;
    border: none;
    display: block;
    text-decoration: none;
    color: white;
    transition: 1s;
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.2s;
}
@media screen and (min-width: 768px) {
    .header-bottom-btn {
        display: block;
        font-size: 18px;
    }
}
.header-bottom-btn:hover {
    background-image: linear-gradient(92.39deg, #6004a7 31.24%, #7936ac 86.36%);
    transform: scale(1.05);
}
.header-bottom-btn2 {
    background: linear-gradient(92.39deg, #8f00ff 31.24%, #c77eff 86.36%);
    border-radius: 25px;
    padding: 19px 46px;
    border: none;
    color: white;
    margin: 11px auto;
    width: 100%;
    padding: 11px;
    text-align: center;
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .header-bottom-btn2 {
        display: none;
    }
}
.header-bottom-btn2:hover {
    background-image: linear-gradient(92.39deg, #6004a7 31.24%, #7936ac 86.36%);
}

.solobtn {
    padding: 0 20px;
}
.events {
    margin-bottom: 80px;
}
.events-title.title {
    margin-bottom: 20px;
}
.events-info {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    color: #6b6f76;
    margin-bottom: 40px;
}
@media screen and (min-width: 992px) {
    .events-info {
        margin-bottom: 80px;
        font-size: 22px;
    }
}
.events-list {
    display: flex;
    justify-content: center;
    gap: 18px;
    flex-wrap: wrap;
    padding: 0 20px;
}
@media screen and (min-width: 992px) {
    .events-list {
        gap: 33px;
    }
}
.events-list-item {
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    padding-bottom: 40px;
    width: 285px;
    transition: all 0.2s;
}
.events-list-item:hover {
    transform: scale(1.025);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}
@media screen and (min-width: 992px) {
    .events-list-item {
        padding: 35px;
        padding-bottom: 60px;
    }
}
.events-list-item img {
    width: 68px;
}
@media screen and (min-width: 992px) {
    .events-list-item img {
        width: 99px;
    }
}
.events-list-item h4 {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 12px;
    font-size: 24px;
    text-transform: capitalize;
}
@media screen and (min-width: 992px) {
    .events-list-item h4 {
        margin-top: 34px;
        margin-bottom: 18px;
    }
}
.events-list-item p {
    max-width: 273px;
    margin: 0;
    text-align: center;
}
@media screen and (min-width: 992px) {
    .events-list-item p {
        max-width: 283px;
        font-size: 18px;
        text-align: center;
    }
}

.type-list {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 100px;
}
@media screen and (min-width: 992px) {
    .type-list {
        gap: 47px;
        flex-direction: row;
    }
}
@media screen and (max-width: 600px) {
    .type-list {
        flex-direction: column;
        align-items: center;
    }
}
.type-list li {
    margin-top: 20px;
    max-width: 260px;
    margin-bottom: 10px;
}
@media screen and (min-width: 992px) {
    .type-list li {
        max-width: 240px;
        margin-bottom: 20px;
    }
}
.type-list li span {
    font-size: 40px;
}
.type-list li p {
    max-width: 291px;
    margin: 0;
    font-size: 16px;
}
@media screen and (min-width: 992px) {
    .type-list li p {
        max-width: 348px;
        font-size: 18px;
    }
}
.type-list li h4 {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 14px;
    border-bottom: 0.4px dashed #000000;
    padding-bottom: 8px;
    height: 60px;
}
@media screen and (min-width: 992px) {
    .type-list li h4 {
        font-size: 24px;
        margin-bottom: 26px;
    }
}
@media screen and (max-width: 600px) {
    .type-list li h4 {
        height: auto;
    }
}
.type-subtitle.title {
    font-size: 34px;
    text-align: left;
    margin-left: 2em;
}
@media screen and (min-width: 992px) {
    .type-subtitle.title {
        font-size: 64px;
    }
}
.sub-type-list {
    text-align: center;
    justify-content: space-around;
}
.struct {
    background: #000;
    padding-top: 16px;
    padding-bottom: 100px;
}
@media screen and (min-width: 992px) {
    .struct {
        padding-bottom: 200px;
    }
}
.struct-title {
    background: linear-gradient(92.39deg, #8f00ff 31.24%, #c77eff 86.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.struct-list {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 0 25px;
}
@media screen and (min-width: 992px) {
    .struct-list {
        flex-direction: row;
        gap: 32px;
        justify-content: center;
    }
}
.struct-list-item {
    border: 0.4px solid #ffffff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    color: white;
    background: #000;
    max-width: 320px;
    padding: 25px;
    z-index: 4;
    min-height: 210px;
}
@media screen and (min-width: 992px) {
    .struct-list-item {
        gap: 18px;
        max-width: 380px;
        min-height: 250px;
    }
}
.struct-list-item div {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.struct-list-item h4 {
    margin: 0;
    font-size: 20px;
}
@media screen and (min-width: 992px) {
    .struct-list-item h4 {
        font-size: 24px;
    }
}
.struct-list-item p {
    text-align: center;
    max-width: 291px;
    margin: 0;
    font-size: 16px;
}
.struct-list-item .requisites {
    display: flex;
    justify-content: left;
    width: 94%;
    border: 0;
}
.struct-list-item .requisites p {
    text-align: left;
}
@media screen and (min-width: 992px) {
    .struct-list-item p {
        max-width: 330px;
        font-size: 18px;
    }
}
.struct-list .line {
    height: 1px;
    transform: rotate(90deg);
    position: absolute;
    bottom: 46%;
    left: 0;
    right: 0;
    max-width: 450px;
    background: white;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 992px) {
    .struct-list .line {
        transform: rotate(0);
    }
}

.speak-list {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 70px;
}
@media screen and (min-width: 992px) {
    .speak-list {
        gap: 33px;
        margin-bottom: 154px;
    }
}
.speak-list-item {
    position: relative;
    padding: 20px 20px 40px;
    min-width: 250px;
    max-width: 800px;
    width: 70%;
    overflow: hidden;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s;
}
.speak-list-item:hover {
    transform: scale(1.025);
}
@media screen and (min-width: 992px) {
    .speak-list-item {
        min-width: 380px;
        padding: 30px 40px 50px;
        width: 100%;
    }
}
@media screen and (min-width: 1172px) {
    .speak-list-item {
        max-width: 470px;
    }
}
.speak-list-item .top-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 3;
    gap: 12px;
}
.speak-list-item .top-wrap h4 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 8px;
}
@media screen and (min-width: 992px) {
    .speak-list-item .top-wrap h4 {
        font-size: 28px;
    }
}
@media screen and (min-width: 600px) {
    .speak-list-item .top-wrap h4 {
        font-size: 22px;
    }
}
.speak-list-item .top-wrap p {
    font-size: 14px;
    margin: 0;
}
@media screen and (min-width: 600px) {
    .speak-list-item .top-wrap p {
        font-size: 16px;
    }
}
.speak .eclipse {
    position: absolute;
    top: -18px;
    left: -14px;
    z-index: 1;
}

.offer {
    background-image: url('../../media/wall2.png');
    background-size: cover;
    height: 560px;
    padding-top: 50px;
    background-position: right;
}
@media screen and (min-width: 416px) {
    .offer {
        height: 520px;
    }
}
@media screen and (min-width: 768px) {
    .offer {
        height: 660px;
    }
}
@media screen and (min-width: 992px) {
    .offer {
        height: 740px;
    }
}
.offer-title-wrap {
    max-width: 300px;
    position: relative;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .offer-title-wrap {
        max-width: 385px;
    }
}
@media screen and (min-width: 992px) {
    .offer-title-wrap {
        max-width: 556px;
    }
}
.offer-title-1 {
    background: linear-gradient(92.39deg, #8f00ff 31.24%, #c77eff 86.36%);
    transform: rotate(-4deg);
    font-size: 28px;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .offer-title-1 {
        font-size: 38px;
    }
}
@media screen and (min-width: 992px) {
    .offer-title-1 {
        font-size: 48px;
    }
}
.offer-text {
    max-width: 335px;
    color: white;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 32px;
    padding-inline: 20px;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .offer-text {
        max-width: 385px;
        font-size: 20px;
    }
}
@media screen and (min-width: 992px) {
    .offer-text {
        max-width: 593px;
        font-size: 24px;
    }
}
.offer-cost {
    width: 70%;
    max-width: 700px;
    padding: 1.1em 1.4em;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 14px;
    transition: transform 0.3s;
}
.offer-cost:hover {
    transform: scale(1.015);
}
@media screen and (min-width: 768px) {
    .offer-cost {
        font-size: 16px;
    }
}
@media screen and (min-width: 992px) {
    .offer-cost {
        font-size: 18px;
    }
}
.offer-cost .offer-cost-desc {
    margin-bottom: 2em;
}
.offer-cost .offer-big {
    font-size: 18px;
}
@media screen and (min-width: 768px) {
    .offer-cost .offer-big {
        font-size: 20px;
    }
}
@media screen and (min-width: 992px) {
    .offer-cost .offer-big {
        font-size: 22px;
    }
}
.offer-cost p {
    margin: 0;
    line-height: 25px;
}
@media screen and (min-width: 768px) {
    .offer-cost p {
        line-height: 30px;
    }
}
@media screen and (min-width: 992px) {
    .offer-cost p {
        line-height: 35px;
    }
}
.offer-btn {
    border-radius: 25px;
    background: linear-gradient(92.39deg, #8f00ff 31.24%, #c77eff 86.36%);
    color: white;
    border: none;
    display: block;
    margin: 40px auto 0;
    padding: 1em 2.5em;
    font-size: 14px;
    transition: transform 0.2s;
    cursor: pointer;
}
.offer-btn:hover {
    background-image: linear-gradient(92.39deg, #6004a7 31.24%, #7936ac 86.36%);
    transform: scale(1.05);
}
@media screen and (min-width: 768px) {
    .offer-btn {
        margin-top: 60px;
        font-size: 18px;
    }
}
.register-title {
    font-size: 32px;
    margin-top: 70px;
    margin-bottom: 8px;
    margin-inline: 7%;
}
@media screen and (min-width: 480px) {
    .register-title {
        text-align: center;
        font-size: 40px;
    }
}
@media screen and (min-width: 992px) {
    .register-title {
        font-size: 54px;
        margin-bottom: 24px;
    }
}
.register-form {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    margin: auto;
}
@media screen and (min-width: 480px) {
    .register-form {
        width: 35%;
        align-items: center;
        min-width: 400px;
    }
}
@media screen and (min-width: 992px) {
    .register-form {
        gap: 20px;
    }
}
.register-input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.name-last_name {
    flex-direction: column;
    justify-content: space-between;
}
.name-last_name div {
    width: 100%;
}
@media screen and (min-width: 425px) {
    .name-last_name {
        flex-direction: row;
    }
    .name-last_name div {
        width: 47%;
    }
}
@media screen and (max-width: 425px) {
    .name-last_name {
        gap: 16px;
    }
}
.name-last_name input {
    margin-top: 0.3em;
}
.register-input-wrapper label {
    font-size: 16px;
    margin-bottom: 0.3em;
}
@media screen and (min-width: 480px) {
    .register-input-wrapper label {
        font-size: 18px;
    }
}
@media screen and (min-width: 992px) {
    .register-input-wrapper label {
        font-size: 20px;
    }
}
.register-input-wrapper select {
    border: 1.5px solid rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    min-width: 160px;
    width: 40%;
    padding: 0.6em 0.8em;
    font-size: 16px;
}
@media screen and (min-width: 480px) {
    .register-input-wrapper select {
        font-size: 18px;
        min-width: 180px;
    }
}
.register-input {
    box-sizing: border-box;
    width: 100%;
    border: 1.5px solid rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    padding: 0.6em 0.8em;
    font-size: 16px;
    transition: box-shadow 0.2s;
}
.register-input:focus,
.register-input-wrapper select:focus {
    outline: none;
    border: 1.5px solid #8f00ff;
    box-shadow: 0 0 2px #8f00ff;
}
@media screen and (min-width: 480px) {
    .register-input {
        font-size: 18px;
    }
}
.register-input::-moz-placeholder {
    font-size: 16px;
    line-height: 105%;
    font-weight: 400;
    color: #808080;
}
.register-input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 105%;
    font-weight: 400;
    color: #808080;
}
.register-input::placeholder {
    font-size: 16px;
    line-height: 105%;
    font-weight: 400;
    color: #808080;
}
@media screen and (min-width: 480px) {
    .register-input::-moz-placeholder {
        font-size: 18px;
    }
    .register-input:-ms-input-placeholder {
        font-size: 18px;
    }
    .register-input::placeholder {
        font-size: 18px;
    }
}
.register-btn {
    border-radius: 25px;
    background: linear-gradient(92.39deg, #8f00ff 31.24%, #c77eff 86.36%);
    color: white;
    border: none;
    display: block;
    padding: 1em 2.5em;
    font-size: 14px;
    margin: 20px auto;
    margin-bottom: 70px;
    cursor: pointer;
    transition: transform 0.2s;
}
@media screen and (min-width: 768px) {
    .register-btn {
        font-size: 18px;
        margin: 30px auto;
    }
}
.register-btn:hover {
    background-image: linear-gradient(92.39deg, #6004a7 31.24%, #7936ac 86.36%);
    transform: scale(1.05);
}
.footer {
    background: #000;
}
.footer-wrap {
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 58px;
    padding-inline: 39px;
    padding-bottom: 43px;
}
@media screen and (min-width: 768px) {
    .footer-wrap {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}
.footer-left img {
    width: 120px;
    margin-bottom: 20px;
    margin-left: -1px;
}
@media screen and (min-width: 480px) {
    .footer-left img {
        margin-bottom: 30px;
        width: 150px;
    }
}
@media screen and (min-width: 768px) {
    .footer-left img {
        margin-bottom: 50px;
        width: 200px;
    }
}
.footer-left-copy {
    display: none;
}
@media screen and (min-width: 768px) {
    .footer-left-copy {
        display: block;
    }
}
.footer-right-address {
    font-size: 22px;
    line-height: 24px;
}
@media screen and (min-width: 768px) {
    .footer-right-address {
        max-width: none;
        font-size: 20px;
        margin-top: 12px;
        font-weight: 500;
        margin-bottom: 12px;
    }
}
.footer-right-icon-wrap {
    display: flex;
    gap: 16px;
}
@media screen and (min-width: 768px) {
    .footer-right-icon-wrap {
        padding-top: 25px;
    }
}
.footer-right-copy {
    color: #d9dbe1;
    margin-top: 35px;
}
@media screen and (min-width: 768px) {
    .footer-right-copy {
        display: none;
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #393f43;
    border-radius: 50%;
    padding: 7.5px;
    transition: 0.5s;
}
.icon:hover {
    background: #191919;
}
.error-message::after,
.validation::after,
.password-check::after {
    display: block;
    content: attr(data-error);
    font-size: 14px;
    color: red;
}
.validation::after {
    content: attr(validation-error);
}
.password-check::after {
    content: attr(password-error);
}
@media screen and (min-width: 768px) {
    .error-message::after,
    .validation::after,
    .password-check::after {
        font-size: 16px;
    }
}
.error-message .register-input,
.error-message select,
.validation .register-input,
.password-check .register-input {
    border: 1.5px solid red;
}
.disabled-button {
    filter: brightness(50%);
}
.disabled-button:hover {
    background-image: none;
    transform: none;
}
/*# sourceMappingURL=main.css.map */
